{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B3 Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
</head>
<body>
    <h1>B3 Tracker</h1>
    <button id="get-history">Buscar dados</button>
    
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Email do requerente</th>
            <th scope="col">Código do ativo</th>
            <th scope="col">Preço</th>
            <th scope="col">ID do monitoramento</th>
          </tr>
        </thead>
        <tbody id="price-history">
        </tbody>
    </table>

    <!-- Importar CDN do jquery e arquivo de js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/mainpage.js' %}"></script>
</body>
</html>
