{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B3 Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
</head>
<body>
    <h1>B3 Tracker</h1>
    
    <h3>Digite o seu email para iniciar:</h3>

    <div id="fill-email-div">
        <input type="email" id="email-input" class="form-control" placeholder="Digite o seu email" required>
        <button id="get-history" class="btn btn-primary mt-2">Buscar dados</button>
    </div>

    <br>
    <form action="" id="track-data">
        <div id="ticker-form-fields">
            <div class="form-group" id="select-form-group-1">
                <select name="ticker-select-1" id="ticker-select-1" form="track-data">
                </select>
                
                <label for="min-value-1">Valor Mínimo:</label>
                <input type="number" id="min-value-1" name="min-value-1" min="1" max="999">
                
                <label for="max-value-1">Valor Máximo:</label>
                <input type="number" id="max-value-1" name="max-value-1" min="1" max="999">
        
                <label for="frequency-1">Periodicidade (em minutos):</label>
                <input type="number" id="frequency-1" name="frequency-1" min="1" max="60">
            </div>
        </div>
    </form>

    <button id="add-select-btn" class="btn btn-primary mt-2">Adicionar ativo</button>

    <br>
    
    <table class="table table-striped" id="tracker-history-table">
        <thead>
          <tr>
            <th scope="col">Email do requerente</th>
            <th scope="col">Código do ativo</th>
            <th scope="col">Preço</th>
            <th scope="col">ID do monitoramento</th>
          </tr>
        </thead>
        <tbody id="price-history">
        </tbody>
    </table>

    <!-- Importar CDN do jquery e arquivo de js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/mainpage.js' %}"></script>
</body>
</html>
